{% load bootstrap3 %}
{% load static%}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if name %}
  <title>Instagram {{name}}</title>
  {% else %}
    <title> Insta </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  {% endblock %}

</head>
<body style="height:100%;background-color:#F6F6F6;">

  {% block content %}
  {% include 'navbar.html'%}
  {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
</body>
</html>
